<div class = "row">

  <div class = "col-md-12">

<%= link_to "New Search", new_search_path %>

    <h1>All Available Dogs</h1>
    <br>

    <table class = "table">
      <thead>
        <tr>
        
          <th></th>
          <th>Location</th>
          <th>Name</th>
          <th>Breed</th>
          <th>Age</th>
          <th>Gender</th>
          <th>Size</th>
          <th>For more info</th>
          <th colspan="8"></th>
        </tr>
      </thead>

      <tbody class = "table-striped">
        <% @dogs.each do |dog| %>
          <tr>
            <td><%= image_tag dog.avatar_url.to_s, :width => 300, :crop => :fill%></td>
            <td><%= dog.location %></td>
            <td><%= dog.name %></td>
            <td><%= dog.breed %></td>
            <td><%= dog.age %></td>
            <td><%= dog.gender %></td>
            <td><%= dog.size %></td>
            <td><%= link_to 'Contact', dog.contact_email %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

  </div>

</div>

