<div class = "general-row">
<div class = "search-form">
    <h2>What kind of hound are you looking for?</h2>
    <%= form_for @search, :html => {:class => "form-inline"} do |s|%>

        <%= s.label "I'm looking for a" %><br>

        <div class="form-group">
          <%= s.select :size, options_for_select(@size, selected = "Small"), {:include_blank => "All"}, { :class => 'form-control' } %>
        </div>

      <div class="form-group">
          <%= s.select :age, options_for_select(@age, selected = "Young"), {:include_blank => "All"}, {:class => 'form-control'} %>
      </div>

      <div class="form-group">
          <%= s.select :gender, options_for_select(@gender, selected = "Female"), {:include_blank => "All"}, { :class => 'form-control' } %>

      </div>

      <div class="form-group">
        <%= s.text_field :breed, autofocus: true, placeholder: "Dachshund"%>
      </div>

      <br><br>

      <%= s.label "At" %><br>

      <div class="form-group">
        
        <%= s.text_field :location, autofocus: true, placeholder: "e.x: 10001" %>
      </div>

      <br><br>

      <div class="actions"><%= s.submit "Search", :class => "btn btn-primary btn-md" %>
      </div>


    <% end %>

  </div>

</div>