<!DOCTYPE html>
<html>
<head>

  <title>Found My Hound</title>

	 <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= favicon_link_tag 'favicon.ico' %>

</head>

<body>

<div class = "container-fluid">
<% unless request.path == root_path %>
<header class = "user-header">

    <div class = "nav-container">
      <div class = "logo"><a href="/"><img src="https://dl.dropbox.com/s/jncnv2w0t7gvjtf/logo_2.png"></a></div> 
      
      <nav class = "user-header-nav">
        <% if user_signed_in? %>
        <p style="font-weight: 700;">Hello, <%= current_user.name %>! </p>
        <%= link_to 'Edit Profile', edit_user_registration_path%>
        <%= link_to 'New Search', new_search_path%>
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% else %>
        
        <%= link_to "About", hello_path %>
        <%= link_to "Login", new_user_session_path %>
        <% end %>
      </nav>

    </div>

</header>
<% end %>

<div class = "messages">

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>

<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

</div>

<%= yield %>

</div>
<% unless request.path == root_path %>
<footer class="footer">
<div class = "footer-container">
<p class="copyright">&copy; 2015 Found My Hound. All Rights Reserved.</p>
<p class="credit">Made with &#9829; by <a href="http://e-l.li" target="_blank">Elli</a> in NYC.</p>
</div>
</footer>
<% end %>


</body>
</html>
